<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <ul>
            <li id="upload">Upload</li>
            <li id="fetch">Get Video</li>
            <li id="fetch-multiple">Get Videos</li>
            <li id="delete">Delete Video</li>
        </ul>
        <div>
            <div id="main"></div>
            <button id="send">Send Request</button>
        </div>
        <div id="output"><!--output area --></div>
    </body>
</html>